/**
 * HOMESECTION
 */

 .home-section {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
    url("/assets/images/homebg.png") center/cover no-repeat;
    display: grid;
    grid-template-rows: 1fr;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
  }
  
  /**
   * HERO-MAIN
   */
  
   .home-section .hero-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    align-items: center;
    justify-items: flex-start;
    padding: 0 0 0 200px;
  }
  
   .home-section .hero-main .hero-title {
    font-size: 90px;
    color: #003A63;
    line-height: 1;
    font-weight: 500;
  }
  
   .home-section .hero-main .hero-subtitle {
    font-size: 46px;
    color: #003A63;
    font-weight: 300;
  }
  
   .home-section .hero-main .hero-description {
    font-size: 16px;
    color: #696C73;
    font-weight: 400;
  }
  
   .home-section .hero-main .hero-button {
    margin-top: 10px;
    font-size: var(--fs-11);
  }
  
  /* Media queries */
  
  @media (max-width: 1200px) {
     .home-section {
      text-align: center;
      align-items: center;
    }
  
     .home-section .hero-main {
      padding: 50px;
      overflow: hidden;
      justify-items: center;
    }
  
     .home-section .hero-main .hero-title {
      font-size: 96px;
    }
  
     .home-section .hero-main .hero-subtitle {
      font-size: 46.24px;
    }
  
     .home-section .hero-main .hero-description {
      font-size: 16.81px;
    }
  
     .home-section .hero-main .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  
  @media (max-width: 992px) {
     .home-section {
      text-align: center;
      align-items: center;
    }
  
     .home-section .hero-main {
      padding: 50px;
      overflow: hidden;
      justify-items: center;
    }
  
     .home-section .hero-main .hero-title {
      font-size: 96px;
    }
  
     .home-section .hero-main .hero-subtitle {
      font-size: 46.24px;
    }
  
     .home-section .hero-main .hero-description {
      font-size: 16.81px;
    }
  
     .home-section .hero-main .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  
  @media (max-width: 768px) {
     .home-section {
      text-align: center;
      align-items: center;
    }
  
     .home-section .hero-main {
      padding: 30px;
      overflow: hidden;
    }
  
     .home-section .hero-main .hero-title {
      font-size: 60.47px;
    }
  
     .home-section .hero-main .hero-subtitle {
      font-size: 40.24px;
    }
  
     .home-section .hero-main .hero-description {
      font-size: 14.81px;
    }
  
     .home-section .hero-main .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .home-section {
      text-align: center;
      align-items: center;
    }
  
     .home-section .hero-main {
      padding: 50px;
      overflow: hidden;
    }
  
     .home-section .hero-main .hero-title {
      font-size: 50.47px;
    }
  
     .home-section .hero-main .hero-subtitle {
      font-size: 30.24px;
    }
  
     .home-section .hero-main .hero-description {
      font-size: 13.81px;
    }
  
     .home-section .hero-main .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  
  @media (max-width: 560px) {
     .home-section {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
     .home-section .hero-main {
      padding: 50px;
      overflow: hidden;
    }
  
     .home-section .hero-main .hero-container {
      text-align: unset;
      padding: 0;
      margin: 0;
    }
  
     .home-section .hero-main .hero-title {
      font-size: 50.47px;
    }
  
     .home-section .hero-main .hero-subtitle {
      font-size: 20.24px;
    }
  
     .home-section .hero-main .hero-description {
      font-size: 8.81px;
    }
  
     .home-section .hero-main .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  
     .home-section .hero-main .hero-button {
      margin-top: 10px;
      font-size: 10px;
    }
  }
  
  @media (max-width: 464px) {
     .home-section .hero-main {
      padding: 10px;
      overflow: hidden;
    }
  }
  