/* Industries Section Styles */
#industries-section {
    height: 700px;
    width: 100%;
    background: url("assets/images/IndustriesBG.png") no-repeat center center/cover;
    position: relative;
}

/* Container for header and options */
#industries-container {
    padding-top: 60px;
}

/* Industries header */
#industries-header {
    text-align: left;
    margin-left: 40px;
}

#industries-header h1 {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    margin: 0 0 5px 0;
}

#industries-header p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 30px 0;
    max-width: 600px;
}

/* Industries options container */
#industries-options {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Individual Industry Card */
.industries-card {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width: 365px;
    height: 250px;
}

.industries-card h2 {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #000000;
    margin: 0;
    letter-spacing: -1.6px;
}

.industries-card p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #666;
    margin-top: 10px;
}

/* Mobile View Industries Section Styles */
@media (max-width: 768px) {
    #industries-section {
        height: 1000px; /* Ensures a taller section */
        min-height: 100vh; /* Ensures it covers at least the viewport height */
    }

    /* Aligning header to the left */
    #industries-header {
        text-align: left;
        margin-left: 20px;
    }

    #industries-header h1 {
        font-size: 36px;
    }

    #industries-header p {
        font-size: 16px;
        max-width: 100%;
    }

    /* Remove padding-top from industries-container */
    #industries-container {
        padding-top: 100px;
    }

    /* Stacking industry cards */
    #industries-options {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .industries-card {
        width: 80%;
        max-width: 330px;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .industries-card h2 {
        font-size: 24px;
    }

    .industries-card p {
        font-size: 14px;
    }
}

