/**
 * SERVICES
 */

 .services-section {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    padding: 0 50px;
    padding-top: 100px;
    gap: 70px;
    margin-bottom: 100px;
    /* Auto-responsive */
}

.services-section .services-text-container {
    font-family: var(--ff-inter);
    width: 20%;
}

.services-section .services-text h1 {
    font-size: var(--fs-3);
    font-weight: var(--fw-9);
    color: #191919;
}

.services-section .services-text p {
    font-size: var(--fs-9);
    font-weight: var(--fw-4);
    color: #000000;
}

.services-section .services-cards-container {
    display: flex;
    align-items: flex-start;
}

.services-section .services-cards-container .services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services-section .services-cards-container .services-cards .card {
    width: 420px;
    height: 600px;
    padding: 0 80px 0 20px;
    border-radius: 50px 0 0 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.services-section .services-cards-container .services-cards .card .lights {
    font-size: 48px;
    margin-bottom: 10px;
    color: #003A63;
}

.services-section .services-cards-container .services-cards .card h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.services-section .services-cards-container .services-cards .card p {
    font-size: 13px;
    margin-bottom: 20px;
    color: #696C73;
}

.services-section .services-cards-container .services-cards .card .lighter {
   
    margin-bottom: 20px;
    color: #fff;
}

.services-section .services-cards-container .services-cards .card button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.services-section .services-cards-container .services-cards .card button:hover {
    background: #0056b3;
}

.services-section .services-cards-container .services-cards .light {
    background: #DAD6D6;
}

.services-section .services-cards-container .services-cards .medium {
    background: #4a5d6c;
}

.services-section .services-cards-container .services-cards .dark {
    background: #1d4878;
}

/* Responsive Styles */

/* Large Screens */

@media (max-width: 1803px) {

    .services-section .services-cards-container {
        display: flex;
        align-items: flex-start;
    }
    
    .services-section .services-cards-container .services-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .services-section .services-cards-container .services-cards .card {
        width: 400px;
        height: 600px;
        padding: 0 80px 0 20px;
    }
    
    .services-section .services-cards-container .services-cards .card .lights {
        font-size: 48px;
    }
    
    .services-section .services-cards-container .services-cards .card h2 {
        font-size: 48px;
    }
    
    .services-section .services-cards-container .services-cards .card p {
        font-size: 13px;
    }
}

@media (max-width: 1803px) {

    .services-section .services-cards-container {
        display: flex;
        align-items: flex-start;
    }
    
    .services-section .services-cards-container .services-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .services-section .services-cards-container .services-cards .card {
        width: 380px;
        height: 600px;
        padding: 0 80px 0 20px;
    }
    
    .services-section .services-cards-container .services-cards .card .lights {
        font-size: 48px;
    }
    
    .services-section .services-cards-container .services-cards .card h2 {
        font-size: 48px;
    }
    
    .services-section .services-cards-container .services-cards .card p {
        font-size: 13px;
    }
}

@media (max-width: 1663px) {

    .services-section .services-cards-container {
        display: flex;
        align-items: flex-start;
    }
    
    .services-section .services-cards-container .services-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .services-section .services-cards-container .services-cards .card {
        width: 340px;
        height: 600px;
        padding: 0 40px 0 10px;
    }
    
    .services-section .services-cards-container .services-cards .card .lights {
        font-size: 48px;
    }
    
    .services-section .services-cards-container .services-cards .card h2 {
        font-size: 48px;
    }
    
    .services-section .services-cards-container .services-cards .card p {
        font-size: 13px;
    }
}



@media (max-width: 1200px) {

    .services-section {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        width: 100%;
        padding: 0 20px;
        padding-top: 100px;
        gap: 70px;
        flex-direction: column;
    }


    .services-section .services-text-container {
        width: auto;
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;
    }


    .services-section .services-text {
        width: auto;
    }


    .services-section .services-cards-container {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        width: 440px;
        padding: 10px;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
    }


    .services-section .services-cards-container .services-cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }


    .services-section .services-cards-container .services-cards .card {
        width: 400px;
        height: 500px;
        padding: 40px;
        border-radius: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

/* Tablet */
@media (max-width: 992px) {

    .services-section { 
        display: flex;
        align-items: center;
        overflow-x: hidden;
        width: 100%;
        padding: 0 20px;
        padding-top: 100px;
        gap: 70px;
        flex-direction: column;
    }


    .services-section .services-text {
        width: auto;
    }


    .services-section .services-cards-container {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        width: 440px;
        padding: 10px;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
    }


    .services-section .services-cards-container .services-cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }


    .services-section .services-cards-container .services-cards .card {
        width: 400px;
        height: 500px;
        padding: 40px;
        border-radius: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

/* Mobile */
@media (max-width: 575px) {
    /* SERVICE */


    .services-section {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        width: 100%;
        padding: 0 20px;
        padding-top: 50px;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }


    .services-section .services-text-container {
        justify-content: flex-start;
        padding: 0;
    }


    .services-section .services-text {
        width: auto;
    }


    .services-section .services-text h1 {
        font-size: var(--fs-7);
        font-weight: var(--fw-9);
        color: #486284;
    }


    .services-section .services-text p {
        font-size: var(--fs-12);
        font-weight: var(--fw-4);
        color: #000000;
    }


    .services-section .services-cards-container {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        width: 350px;
        padding: 10px;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
    }


    .services-section .services-cards-container .services-cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }


    .services-section .services-cards-container .services-cards .card {
        width: 330px;
        height: 500px;
        padding: 15px;
        border-radius: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .services-section .services-cards-container .services-cards .card .lights {
        font-size: 48px;
        margin-bottom: 10px;
        color: #003A63;
    }


    .services-section .services-cards-container .services-cards .card h2 {
        font-size: 48px;
        margin-bottom: 10px;
        color: #FFFFFF;
    }


    .services-section .services-cards-container .services-cards .card p {
        font-size: 12.25px;
        font-weight: var(--fw-4);
        margin-bottom: 20px;
        color: #696C73;
    }


    .services-section .services-cards-container .services-cards .card .lighter {
        font-size: 14px;
        margin-bottom: 20px;
        color: #fff;
    }


    .services-section .services-cards-container .services-cards .card button {
        background: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 20px;
        cursor: pointer;
    }
}
